---
- name: Clean dnf RHEL8
  become: true
  command: dnf clean all -y

- name: Disable dnf module for RHEL8
  become: true
  command: dnf module disable postgresql -y

- name: Disable llvm-toolset dnf module for RHEL8
  become: true
  command: dnf module disable llvm-toolset -y

- name: setup epel release
  yum:
    name: epel-release
    update_cache: yes
    state: present

- name: Configure repository
  include_tasks: ../../../../tasks/enable_repo.yml

- name: Percona Platform for PostgreSQL rpm packages for RHEL and additional tools
  yum:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
  vars:
    packages:
    - percona-postgresql-client-common
    - percona-postgresql-common
    - percona-postgresql-server-dev-all
    - percona-postgresql13
    - percona-postgresql13-contrib
    - percona-postgresql13-devel
    - percona-postgresql13-libs
    - percona-postgresql13-plpython3
    - percona-postgresql13-pltcl
    - percona-postgresql13-server
    - openssl-devel
    - etcd
    - python3-python-etcd
    - haproxy

- name: Install patroni RPM
  yum:
    name: percona-patroni
    state: latest
    update_cache: yes
  when: ansible_os_family == "RedHat"

- name: Create /etc/patroni directory
  file:
    path: /etc/patroni
    state: directory

- name: Create test patroni directory
  file:
    path: /var/lib/pgsql/patroni_test/
    state: directory
    owner: postgres
    group: postgres

- name: Copy postgresql0.yml for patroni service
  copy:
    src: postgresql0.yml
    dest: /etc/patroni/postgresql.yml
    owner: root
    group: root
    mode: 0644

- name: Copy postgresql1.yml for patroni service
  copy:
    src: postgresql1.yml
    dest: /var/lib/pgsql/patroni_test/postgresql1.yml
    owner: postgres
    group: postgres
    mode: 0644

- name: Copy postgresql2.yml for patroni service
  copy:
    src: postgresql2.yml
    dest: /var/lib/pgsql/patroni_test/postgresql2.yml
    owner: postgres
    group: postgres
    mode: 0644

- name: Copy patroni1 service file
  copy:
    src: patroni1.service
    dest: /usr/lib/systemd/system/patroni1.service
    owner: root
    group: root
    mode: 0644

- name: Copy patroni2 service file
  copy:
    src: patroni2.service
    dest: /usr/lib/systemd/system/patroni2.service
    owner: root
    group: root
    mode: 0644

- name: Start etcd
  service:
    name: etcd
    state: started
    enabled: yes

- name: Start patroni
  service:
    name: patroni
    state: started
    enabled: yes

- name: Start patroni1
  service:
    name: patroni1
    state: started
    enabled: yes

- name: Start patroni2
  service:
    name: patroni2
    state: started
    enabled: yes

- name: Copy haproxy.cfg
  copy:
    src: haproxy.cfg
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: 0644

- name: Start haproxy
  service:
    name: haproxy
    state: started
    enabled: yes

